@model IEnumerable<PresentForFriend.Models.Present>
@{
    ViewData["Title"] = "Home Page";
}
@*@if (User.Identity.IsAuthenticated)
{*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-4 mb-3">
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">@Html.DisplayFor(modelItem => item.Price)</div>
                    <img  src="data:image/jpeg;base64,@Convert.ToBase64String(item.DataFiles)" height="300"/>
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <a class="btn btn-primary text-light" asp-route-id="@item.Id" asp-controller="CardInfo" asp-action="Index">More..</a>
                        <a class="btn btn-success text-light" asp-route-id="@item.Id" asp-controller="Favourites" asp-action="Add">To favorites</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*}*@
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>